@font-face {
  font-family: 'Radlush';
  src: url('/src/fonts/Radlush/woff/Radlush-Regular.woff') format('woff'),
       url('/src/fonts/Radlush/ttf/Radlush-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/src/fonts/Radlush/woff/Radlush-Medium.woff') format('woff'),
       url('/src/fonts/Radlush/ttf/Radlush-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/src/fonts/Radlush/woff/Radlush-SemiBold.woff') format('woff'),
       url('/src/fonts/Radlush/ttf/Radlush-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/src/fonts/Radlush/woff/Radlush-Bold.woff') format('woff'),
       url('/src/fonts/Radlush/ttf/Radlush-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/src/fonts/Radlush/woff/Radlush-ExtraBold.woff') format('woff'),
       url('/src/fonts/Radlush/ttf/Radlush-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/src/fonts/Radlush/woff/Radlush-Black.woff') format('woff'),
       url('/src/fonts/Radlush/ttf/Radlush-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}