@use "./styles/tailwind";
@use "./styles/radlush.css";
@use "./styles/variables" as *;

:root {
  background-color: #222;
  color: #ddd;
  font: normal 10px/1.5 'Radlush';
}

body {
  background-color: inherit;
  color: inherit;
  font-size: 1.6rem;

  > * {
    padding: 2rem;
  }

  > header {
    background-color: #111;

    nav a {
      padding: .5rem;
      border: 1px solid transparent;
      border-radius: .5rem;

      &:hover {
        background-color: $purple;
        border-color: $purple;
      }

      &.active {
        background-color: $purple-light;
        border-color: $purple-light;
        text-decoration: underline;
      }
    }
  }

}